@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
font-family: 'Tinos', serif;

.container {
    margin-top: 50px;
  }
  
  #screenshot-div {
    display: none;
  }
  
  #download-link {
    margin-top: 20px;
    display: block;
    text-align: center;
  }
  
